<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.wmding.commonlib">

    <application>
        <activity android:name=".ImageViewActivity"></activity>
        <activity
                android:name=".CommonActivity"
                android:launchMode="standard" />
        <activity android:name=".SecondActivity" />
        <activity android:name=".FirstActivity" />
        <activity android:name=".HandlerTestActivity" />
    </application>

</manifest>