<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.wmding.myviewlib">

    <application>
        <activity android:name=".MyViewActivity" />
        <activity
                android:name=".MyView1Activity"
                android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MyView2Activity" />
        <activity android:name=".MyView3Activity"/>
    </application>

</manifest>