<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.wmding.medialib">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <application>
        <activity android:name=".MediaActivity" />
        <activity android:name=".CameraTestActivity" />
        <activity android:name=".ChoosePhotoFromAlbumActivity" />
        <activity android:name=".MediaPlayerActivity" />
        <activity android:name=".MediaPlayer2Activity" />

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="com.wmding.medialib.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>